.App {
  text-align: center;
  background: url('https://img.freepik.com/vector-gratis/papel-tapiz-blanco-estilo-papel-3d_23-2148400294.jpg?w=996&t=st=1706625388~exp=1706625988~hmac=11a2cc9960321129f85d7a4f86a2f162a681f1520e2d975ec8a51dfcafe4767e');
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}