.form_login {
    padding: 20% 20%;
}

.title_login {
    margin-bottom: 20px;
}

.logo_login {
    width: 100%;
    margin-bottom: 20px;
}

.col_icon {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.icon_control {
    width: 20px;
}

.icon_eye:hover {
    background-color: rgba(128, 128, 128, 0.116);
    border-radius: 100%;
    cursor: pointer;
}